/Assembly-CSharp-vs.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp.pidb

/Library/*

/Temp/*
/SignalChain-csharp.sln
/SignalChain.sln
/SignalChain.userprefs

/ProjectSettings/AudioManager.asset
/ProjectSettings/DynamicsManager.asset
/ProjectSettings/EditorBuildSettings.asset
/ProjectSettings/EditorSettings.asset
/ProjectSettings/InputManager.asset
/ProjectSettings/NavMeshLayers.asset
/ProjectSettings/NetworkManager.asset
/ProjectSettings/ProjectSettings.asset
/ProjectSettings/QualitySettings.asset
/ProjectSettings/TagManager.asset
/ProjectSettings/TimeManager.asset

